* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

html {
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

body {
  font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: #000000;
}

button {
  font-family: inherit;
}

.cart-container {
  cursor: pointer;
  margin: 0 1rem;
}

.main__container {
  height: 100%;
  min-height: calc(100vh - 68px);
}
