.group-container {
  position: relative;
  margin: 45px 0;
}
.group-container input[type='password'] {
  letter-spacing: 0.3em;
}

.form-input {
  background: none;
  background-color: #fff;
  color: grey;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid grey;
  margin: 25px 0;
}
.form-input:focus {
  outline: none;
}

.form-input:focus ~ label {
  top: -14px;
  font-size: 12px;
  color: black;
}

.form-input-label {
  color: grey;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 300ms ease all;
}

.form-input-label.shrink {
  top: -14px;
  font-size: 12px;
  color: black;
}
