.btn {
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: bolder;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.btn-secondary {
  background-color: #000;
  color: #fff;
  border: none;
}

.btn-secondary:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.btn-inverted {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.btn-inverted:hover {
  background-color: #000;
  color: #fff;
  border: none;
}

.btn-google {
  background-color: #4285f4;
  color: #fff;
  border: none;
}

.btn-google:hover {
  background-color: #357ae8;
  border: none;
}
