.header-container {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.logo-container {
  height: 100%;
  width: 70px;
  padding: 10px;
}

.options-container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.option-link {
  padding: 10px 15px;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .header-container {
    height: 60px;
    padding: 10px;
    margin-bottom: 20px;
  }
  .logo-container {
    width: 50px;
    padding: 0;
  }
  .options-container {
    width: 80%;
  }
}
