.header-container {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  position: sticky;
  top: 0;
  left: 0;
  background: hsla(0, 0%, 94.5%, 0.7);
  z-index: 999;
  backdrop-filter: blur(10px);
}

.logo-container {
  padding: 10px;
}

.logo {
  height: 50px;
  width: auto;
}

.options-container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.option-link {
  padding: 10px 15px;
  cursor: pointer;
}

.avatar {
  width: 30px;
  height: 30px;
}

.logout-icon {
  vertical-align: middle;
  margin-right: 10px;
}

@media screen and (max-width: 800px) {
  .header-container {
    height: 60px;
    padding: 10px;
  }
  .logo-container {
    width: 50px;
    padding: 0;
  }
  .options-container {
    width: 80%;
  }
}
