.sign-in-and-sign-up-image-container {
  background-image: url(https://images.unsplash.com/photo-1577744486770-020ab432da65?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
