.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.heading-section {
  width: 100%;
  padding: 20px 0;
}

.heading-section h1 {
  text-decoration: underline dotted;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.col-md-6 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-thumb .item img {
  height: 100px;
}

.product-name {
  font-size: 22px;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 4px;
}

.product-price-discount {
  font-size: 22px;
  font-weight: 400;
  padding: 10px 0;
  clear: both;
}

.align-center {
  align-items: center;
}

.product-info {
  width: 100%;
}

.product-dtl {
  list-style-type: none;
  width: 100%;
}

.product-dtl li {
  font-size: 14px;
  line-height: 24px;
  color: #7a7a7a;
  border: 1px solid #eee;
  padding: 1rem;
  margin-bottom: 10px;
  border-radius: 10px;
}

.product-dtl .form-control {
  font-size: 15px;
}

.product-dtl label {
  line-height: 40px;
  font-size: 15px;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
}

.section-left {
  border: 1px solid #eee;
  border-radius: 10px;
}

.section-right {
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 3rem;
}
